body{
    margin: 0;
    font-size: 18px;
}

/* container-1 background  */
.container-1{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bg-hero.jpg");
}

/* navbar css */

.container-1 .navbar .navbar-brand{
    padding-left: 2%;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}
.container-1  .navbar .navbar-brand:hover{
    text-decoration: underline;
}
.container-1 .navbar .navbar-nav .nav-item{
    padding: 10px;
}
.container-1 .navbar .navbar-nav .nav-item .nav-link{
    font-size: 1em;
    color: hsl(33,7%,69%);
    font-weight: 700;
}
.container-1 .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #fff;
    text-decoration: underline;
}
.container-1 .navbar .navbar-nav .nav-item .nav-link:active{
    color: #fff;
}

.container-1 .row .col-lg-8{
    padding: 14% 0;
    color: hsl(0,0%,100%);
}
.container-1 .row .col-lg-8 h1{
    padding: 2% 3%;
    font-weight: 700;
}
.container-1 .row .col-lg-8 p{
    padding: 3% 10%;
    font-size: 1.1em;
}
.container-1 .row .col-lg-8 .btn{
    padding: 1.5% 5%;
    margin: 1%;
    font-weight: 600;
}
.container-1 .row .col-lg-8 .btn-left{
    background-color: hsl(210,17%,98%);
    color: #000;
    
}
.container-1 .row .col-lg-8 .btn-right{
    background-color: hsl(226,79%,55%);
    color: hsl(0,0%,100%);
}

/* container-2 */
.container-2{
    padding: 10% 0 5% 0;
    /* height: 100vh; */
}
.container-2 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-2 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}
.container-2 .row .col-lg-4{
    text-align: center;
}
.container-2 .row .col-lg-4 .card{
    padding: 10% 0;
    margin: 5%;
    box-shadow: 0 0 8px 0 hsl(180, 8%, 69%);
}
.container-2 .row .col-lg-4 .card .card-body .card-title h3{
    font-size: 1em;
    font-weight: 600;
}
.container-2 .row .col-lg-4 .card .card-body .card-text p{
    font-size: 0.9em;
    font-weight: 400;
}

/* container-3  */
.container-3{
    padding: 10% 0 5% 0;
}
.container-3 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-3 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}

.container-4{
    padding: 10% 0 8% 0;
}
.container-4 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-4 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}

.container-4 .row .col-lg-4 .card{
    margin: 5%;
    box-shadow: 0 0 8px 0 hsl(180, 8%, 69%);
}
.container-4 .row .col-lg-4 .card .card-img-top img{
    width: 100%;
}
.container-4 .row .col-lg-4 .card .card-body .card-title h3{
    font-size: 1.1em;
    font-weight: 700;
}
.container-4 .row .col-lg-4 .card .card-body .card-text-1 p{
    font-size: 0.7em;
    font-weight: 500;
}
.container-4 .row .col-lg-4 .card .card-body .card-text-2 p{
    font-size: 0.9em;
    color: hsl(188, 78%, 41%);
}

/* container-5 */
.container-5{
    padding: 8% 0 8% 0;
    background-color: hsl(351,80%,58%);
}
.container-5 .row .col-lg-8{
    color: #fff;
}
.container-5 .row .col-lg .carousel{
    padding: 5% 0;
}
.carousel .container .row .col-lg-4 .card{
    padding: 5%;
}
.carousel .container .row .col-lg-4 .card p{
    font-size: 0.9em;
}
.carousel .container .row .col-lg-4 .card h3{
    font-size: 1em;
}

/* container-6 */
.container-6{
    padding: 10% 0 8% 0;
}
.container-6 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-6 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}
.container-6 .row .col-lg{
    padding-bottom: 5%;
}
.container-6 .row .col-lg p{
    font-size: 0.95em;
}
.container-6 .row .col-lg-4 .card{
    margin: 2%;
    box-shadow: 0 0 8px 0 hsl(180, 8%, 69%);
}


/* container-7 */
.container-7{
    padding: 10% 0 8% 0;
    margin: 0%;
}
.container-7 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-7 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}
.container-7 .row{
    margin: 0;
}
.container-7 .row .col-lg-3{
    margin: 0;
    padding: 0;
}

/* container-8 */
.container-8{
    padding: 10% 0 8% 0;
}
.container-8 .row .col-lg-8{
    padding-bottom: 5%;
}
.container-8 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}

.container-9{
    background-color: hsl(226,79%,57%);
    padding: 8% 0;
    color: #fff;
}
.container-9 .col-lg-8 h2{
    font-size: 3.3em;
    font-weight: 300;
}
.container-9 .col-lg-8 p{
    font-size: 1.1em;
    /* font-weight: 400; */
}
.container-9 .col-lg-4 .btn{
    padding: 5% 10%;
}

/* container-10 */
.container-10 .row .col-lg-8{
    padding: 10% 0;
}
.container-10 .row .col-lg-8 p{
    font-size: 1.1em;
    line-height: 2;
    color: hsl(188, 78%, 41%);
}
.container-10 .container .row .col-lg-4 .card .card-body .card-text p a{
    font-size: 0.8em;
}
.container-10 .container .row .col-lg-4 .card .card-body .card-title h3 a{
    color: #000;
    font-size: 0.8em;
    font-weight: 700;
}

.container-11{
    background-color: hsl(221,100%,96%);
    padding: 5% 0;
}
.container-11 .row .col-lg .container .row .col-lg-4 h1{
    font-size: 3em;
    font-weight: 300;
}
.container-11 .row .col-lg .container .row .col-lg-4 p{
    font-size: 1.1em;
    color: hsl(188, 78%, 41%);
}
.container-11 .row .col-lg .container .row .col-lg-4 form input{
    padding: 6%;
    font-size: 1em;
}
.container-11 .row .col-lg .container .row .col-lg-4 form button{
    background-color: hsl(351,80%,58%);
    color: #fff;
    font-size: 1em;
    padding: 2%;
    width: 29%;
    height: auto;
    font-weight: 600;
}


.container-12{
    background-color: hsl(277,39%,15%);
    color: #fff;
    padding: 5% 0;
}
.container-12 form textarea{
    height: 60%;
}
.container-12 .col-lg-4{
    padding-left: 5%;
}
.container-12 .col-lg-4 address{
    padding-top: 5%;
}


@media screen and (max-width : 600px) {
    .navbar{
        background-color: blue;
    }
}